<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Office Hours App</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>


  <div class="container" id="app">
    <h1 class="text-center">Office Hours App</h1>
    
    <input type="text" name="name" id="input-name">
    <button id="button-submit">Search</button>
    <button id="button-clear">Clear</button>

    <hr>

    <ul>
      <li v-for="t in teacherData">
	<a href="#" @click="showData(t)">{{t.name}}</a>
	<!-- MODAL -->
	<div class="modal" tabindex="-1" role="dialog":id="'modal-' + t.name">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <!-- MODAL HEADER -->
	      <div class="modal-header">
		<h5 class="modal-title">{{t.name}}</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	      </div>
	      <!-- MODAL CONTENT -->
	      <div class="modal-body">

		<div v-for="oh in t.officeHours" class="container">
		  <h4>{{oh.course.title}} <span class="text-muted">{{oh.course.prefix}} {{oh.course.courseNumber}}</span></h4>
		  <p><b>Times:</b> {{oh.availability.times}}</p>
		  <p><b>Location:</b> {{oh.availability.building}} {{oh.availability.room}}</p>
		  <p><b>Can Schedule by Appointment?:</b> <span v-if="oh.availability.byAppt">Yes</span> <span v-else>No</span></p>
		  <p v-if="oh.availability.specialNote"><b>Special Note:</b> {{oh.availability.specialNote}}</p>
		  
		</div>
		

		
	      </div>
	      <!-- MODAL FOOTER -->
	      <div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	
      </li>
    </ul>
    
  </div>

  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="./script.js"></script>
</body>
</html>
